<HTML>
<head>
</head>
<body>
<form method="POST" action="http://localhost/nour/views/ajoutClient.php">
<table>
<caption>Ajouter Client</caption>
<tr>
<td>ID</td>
<td><input type="number" name="id"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>Email</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td>Numéro de téléphone</td>
<td><input type="number" name="numero"></td>
</tr>
<tr>
<td>Adresse</td>
<td><input type="text" name="adresse"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>